<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text to Speech</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      body {
        padding: 20px;
      }

      .tab-content {
        margin-top: 20px;
      }

      .form-group {
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          id="text-tab"
          data-toggle="tab"
          href="#text"
          role="tab"
          aria-controls="text"
          aria-selected="true"
          >Text</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="pdf-tab"
          data-toggle="tab"
          href="#pdf"
          role="tab"
          aria-controls="pdf"
          aria-selected="false"
          >PDF Document</a
        >
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="text"
        role="tabpanel"
        aria-labelledby="text-tab"
      >
        <h1>Text to Speech</h1>
        <form action="/text_to_speech" method="POST">
          <div class="form-group">
            <label for="text">Enter text:</label>
            <textarea
              class="form-control"
              name="text"
              id="text"
              rows="5"
              cols="50"
            ></textarea>
          </div>
          <div class="form-group">
            <label for="rate">Select speech rate:</label>
            <select class="form-control" name="rate" id="rate">
              <option value="100">Normal</option>
              <option value="150">Fast</option>
              <option value="50">Slow</option>
            </select>
          </div>
          <div class="form-group">
            <label for="voice">Select voice:</label>
            <select class="form-control" name="voice" id="voice">
              <option value="english+f1">Male</option>
              <option value="english+f4">Female</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Convert</button>
          <button type="button" class="btn btn-danger" id="stopButton">Stop</button>
        </form>
      </div>
      <div
        class="tab-pane fade"
        id="pdf"
        role="tabpanel"
        aria-labelledby="pdf-tab"
      >
        <h1>PDF to Speech</h1>
        <form
          action="/pdf_to_speech"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="form-group">
            <label for="file">Upload PDF:</label>
            <input
              type="file"
              class="form-control-file"
              name="file"
              id="file"
            />
          </div>
          <div class="form-group">
            <label for="start_page">Start Page:</label>
            <input
              type="number"
              class="form-control"
              name="start_page"
              id="start_page"
              value="1"
              min="1"
            />
          </div>
          <div class="form-group">
            <label for="end_page">End Page:</label>
            <input
              type="number"
              class="form-control"
              name="end_page"
              id="end_page"
              value="1"
              min="1"
            />
          </div>
          <div class="form-group">
            <label for="rate">Select speech rate:</label>
            <select class="form-control" name="rate" id="rate">
              <option value="100">Normal</option>
              <option value="150">Fast</option>
              <option value="50">Slow</option>
            </select>
          </div>
          <div class="form-group">
            <label for="voice">Select voice:</label>
            <select class="form-control" name="voice" id="voice">
              <option value="english+f1">Male</option>
              <option value="english+f4">Female</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Convert</button> 
          <button type="button" class="btn btn-danger" id="stopButton">Stop</button>
        </form>
        
        </form>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Add event listener to stop audio button
            document.getElementById('stopAudioButton').addEventListener('click', function(event) {
                event.preventDefault();
                stopAudio();
            });
    
            // Function to stop audio
            function stopAudio() {
                fetch('/stop_audio')
                    .then(response => {
                        if (response.ok) {
                            console.log('Audio playback stopped');
                        } else {
                            console.error('Error stopping audio playback');
                        }
                    })
                    .catch(error => {
                        console.error('Error stopping audio playback:', error);
                    });
            }
    
            // Add event listener to text-to-speech form
            document.getElementById('textToSpeechForm').addEventListener('submit', function(event) {
                event.preventDefault();
                startTextToSpeech();
            });
    
            // Function to start text-to-speech
            function startTextToSpeech() {
                let form = document.getElementById('textToSpeechForm');
                let formData = new FormData(form);
    
                fetch('/text_to_speech', {
                    method: 'POST',
                    body: formData
                })
                .then(response => {
                    if (response.ok) {
                        console.log('Text-to-speech started');
                    } else {
                        console.error('Error starting text-to-speech');
                    }
                })
                .catch(error => {
                    console.error('Error starting text-to-speech:', error);
                });
            }
    
            // Add event listener to pdf-to-speech form
            document.getElementById('pdfToSpeechForm').addEventListener('submit', function(event) {
                event.preventDefault();
                startPdfToSpeech();
            });
    
            // Function to start pdf-to-speech
            function startPdfToSpeech() {
                let form = document.getElementById('pdfToSpeechForm');
                let formData = new FormData(form);
    
                fetch('/pdf_to_speech', {
                    method: 'POST',
                    body: formData
                })
                .then(response => {
                    if (response.ok) {
                        console.log('PDF-to-speech started');
                    } else {
                        console.error('Error starting PDF-to-speech');
                    }
                })
                .catch(error => {
                    console.error('Error starting PDF-to-speech:', error);
                });
            }
        });
    </script>

</body>
</html>
